h1 {
  margin-bottom: 20px;
}

.responsive-box {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  margin: 0 auto;
  background-color: #3498db;
  color: #fff;
}

/* Media Query for Small Screens (less than or equal to 600px) */
@media (max-width: 600px) {
  .responsive-box {
    background-color: #2ecc71; /* Change background color for small screens */
    max-width: 400px;
  }
}

/* Media Query for Medium Screens (601px to 900px) */
@media (min-width: 600px) and (max-width: 900px) {
  .responsive-box {
    background-color: #181818;
    max-width: 500px; /* Adjust max-width for medium screens */
  }
}

/* Media Query for Large Screens (901px and above) */
@media (min-width: 901px) {
  .responsive-box {
    max-width: 800px; /* Adjust max-width for large screens */
  }
}
