* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.control {
  margin-top: 50px;
  margin-bottom: 20px;
  display: flex;
  justify-content: end;
  gap: 2px;
}

.control button {
  background-color: #181818;
  padding: 5px 5px;
  border: none;
  outline: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.grid-control {
  margin: 50px 20% 20px 20%;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 10px;
  margin: 0px 20%;
}

.list-item {
  color: white;
  padding: 10px 10px;
  background-color: #181818;
  border-radius: 4px;
  margin: 5px 0;
}
