/* 
     Pseudo-classes in CSS are used to select and style elements based on their state or position in the document.
*/
h1 {
  margin-bottom: 20px;
}

/* :hover Pseudo-class Example */
a.link:hover {
  color: red; /* Style the link when hovered */
}

/* :first-child Pseudo-class Example */
ul li:first-child {
  font-weight: bold; /* Style the first child of the ul */
  color: #2ecc71;
}

/* :last-child Pseudo-class Example */
ul li:last-child {
  color: #e74c3c; /* Style the last child of the ul */
}

/* :nth-child Pseudo-class Example */
ul li:nth-child(even) {
  background-color: #d7e0e2; /* Style odd-numbered children of the ul */
}

/* :nth-child Pseudo-class Example with Specific Class */
ul li.odd:nth-child(odd) {
  color: #2ecc71; /* Style odd-numbered children with class "odd" of the ul */
}

/* :not Pseudo-class Example */
ul li:not(.odd) {
  text-decoration: underline; /* Style li elements that do not have the class "odd" */
}
