/* 
    Pseudo-Class: A pseudo-class is used to style elements based on their state or position,
    such as :hover, :active, :focus, :first-child, etc.

    Pseudo-Element: A pseudo-element is used to style a specific part of an element, 
    such as ::before or ::after, which create virtual elements to apply styles.
*/

h1 {
  margin-bottom: 20px;
}

/* Pseudo-Class Example */
a.link:hover {
  color: #3498db; /* Style the link when hovered */
}

/* Pseudo-Element Example */
ul li::before {
  content: "• "; /* Add a bullet before each li item */
  color: #2ecc71; /* Style the bullet */
}

ul li::after {
  content: "• "; /* Add a bullet before each li item */
  color: #3498db; /* Style the bullet */
}

/* Pseudo-Class with Specific Class Example */
ul li.odd:hover {
  background-color: crimson; /* Style li elements with class "odd" when hovered */
}
