h1 {
  margin-bottom: 20px;
}

.grid-container {
  display: grid;
  /* Responsive columns */
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 10px; /* Gap between grid items */
}

.grid-item {
  height: 100px;
  background-color: #3498db;
  color: #fff;
  text-align: center;
  line-height: 100px;
}
