h1 {
  margin-bottom: 20px;
}

/* Descendant Combinator Example */
.descendant-example p {
  color: #3498db; /* Style paragraphs inside div with class "descendant-example" */
}

/* Child Combinator Example */
.child-example > .child-container {
  background-color: #2ecc71; /* Style div with class "child-container" directly under div with class "child-example" */
}

/* Adjacent Sibling Combinator Example */
.adjacent-sibling-example h2 + p {
  font-weight: bold; /* Style paragraphs that directly follow an h2 inside div with class "adjacent-sibling-example" */
  /* Adjacent means close to or near something  */
}

/* General Sibling Combinator Example */
.general-sibling-example h2 ~ span {
  color: #e74c3c; /* Style spans that are siblings of an h2 inside div with class "general-sibling-example" */
}
