.rgb-color {
  background-color: rgb(255, 0, 0); /* Red */
  color: #fff;
}

/* HEX Color Example */
/* base16: 0 1 2 3 4 5 6 7 8 9 A B C D E F */
/* the closer the value to 0 the darker it gets */
/* the closer the value to F the whiter it gets */
.hex-color {
  background-color: #00ff00; /* Red Green Blue*/
  color: #000;
}

/* HSL Color Example */
/* hsl(hue, saturation, lightness) */
.hsl-color {
  background-color: hsl(250, 100%, 50%); /* Blue */
  color: #fff;
}

/* Gradient Example */
.gradient-background {
  /* Gradient from Blue to Violet */
  background: linear-gradient(to right, #0000ff, #8a2be2);
  color: #fff;
}
