h1 {
  margin-bottom: 20px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

/* horizontal alignment */
.justify-content {
  justify-content: space-between;
}

/* vertical alignment */
.align-items {
  align-items: center;
}

/* flex direction */
.flex-direction-row-reverse {
  flex-direction: row-reverse;
}

/* flex direction */
.flex-direction-column {
  flex-direction: column;
}

.flex-item {
  width: 100px;
  height: 100px;
  background-color: #3498db;
  color: #fff;
  text-align: center;
  line-height: 100px;
  margin: 10px;
}
