* {
  margin: 0;
  padding: 0;
}

h1 {
  /* margin */
  /* shorthand for top and bottom, left and right */
  /* margin: 20px 20px; */
  /* shorthand for top, right, bottom, left */
  /* margin: 50px 20px 10px 50px; */

  /* padding */
  /* shorthand for top and bottom, left and right */
  /* padding: 20px 20px; */
  /* shorthand for top, right, bottom, left */
  /* padding: 50px 20px 10px 50px; */

  /* 
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px; 
  */

  background-color: black;
  color: white;
}

.btn-success,
.btn-danger,
.btn-warning,
.btn-info {
  display: inline-block;
  padding: 10px 20px; /* Add padding to buttons (10px top/bottom, 20px left/right) */
  margin: 5px; /* Add margin around each button */
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
}

.btn-success {
  background-color: #28a745; /* Green color for success button */
}

.btn-danger {
  background-color: #dc3545; /* Red color for danger button */
}

.btn-warning {
  background-color: #ffc107; /* Yellow color for warning button */
}

.btn-info {
  background-color: rgb(31, 206, 233); /* Blue color for info button */
}

.btn-outline-success {
  padding: 10px 20px;
  background-color: #181818; /* Transparent background for outline button */
  border: 2px solid #28a745; /* Green border for outline success button */
  border-radius: 5px; /* add border radius */
  color: #303030;
}

.btn-outline-success:hover {
  background-color: #28a745; /* Green background on hover for outline success button */
  color: #fff; /* White text on hover for outline success button */
}
